<ion-grid fixed="true">
  <ion-row>
    <ion-col size="12">
      <ion-button expand="block" (click)="openTagFilter()">
        Filter by Tag
      </ion-button>
      <ion-button
        expand="block"
        (click)="loadAllTasks()"
        style="margin-top: 10px"
      >
        Show All Tasks
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="header">Backlog</div>
      <app-task-card
        *ngFor="let task of tasksBacklog"
        [task]="task"
      ></app-task-card>
    </ion-col>
    <ion-col>
      <div class="header">To Do</div>
      <app-task-card
        *ngFor="let task of tasksTodo"
        [task]="task"
      ></app-task-card>
    </ion-col>
    <ion-col>
      <div class="header">In Progress</div>
      <app-task-card
        *ngFor="let task of tasksInProgress"
        [task]="task"
      ></app-task-card>
    </ion-col>
    <ion-col>
      <div class="header">Done</div>
      <app-task-card
        *ngFor="let task of tasksDone"
        [task]="task"
      ></app-task-card>
    </ion-col>
  </ion-row>
</ion-grid>
