<ion-card *ngIf="task">
  <ion-card-header>
    <ion-card-title>{{ task.title }}</ion-card-title>
    <ion-button size="small" (click)="openEditModal()">Edit</ion-button>
  </ion-card-header>
  <ion-card-content>
    <p>{{ task.description }}</p>
    <ion-item>
      <ion-label>Select Tags</ion-label>
      <div>{{ task.tags.join(", ") }}</div>
    </ion-item>
    <ion-item>
      <ion-label class="smaller-text">Status</ion-label>
      <div>{{ task.status }}</div>
    </ion-item>
  </ion-card-content>
</ion-card>
