<ion-card>
  <ion-card-header>
    <ion-card-title>{{task.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>{{task.description}}</p>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select [(ngModel)]="task.status" (ionChange)="onStatusChange(task.status)" name="status">        <ion-select-option value="todo">To Do</ion-select-option>
        <ion-select-option value="inProgress">In Progress</ion-select-option>
        <ion-select-option value="done">Done</ion-select-option>
        <ion-select-option value="backlog">Backlog</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>
</ion-card>